.navbar {
  background-color: black;
  overflow: hidden;
  width: 100%;
}
.logo{
  float:left;
  display: inline-block;
  vertical-align: top;
}

.navbar a {
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: fantasy;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: red;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

#name{
  color:white;
  text-align: left;
  position: absolute; left: 115px; top: 22px;
  font-family: cursive;
}

h2{
  text-align: center;
}
